body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'EB Garamond', serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: white;
  margin: 25px;
}

/* The logo of the site */
.top-logo {
  height: 256px;
  width: 256px;
  display: inline-block;
  margin: auto;
}

.top-container {
  background-color: #293462;
  padding: 50px;
}

.divider-1 {
  width: 200px;
  height: 70px;
  margin-top: 30px;
}

/* --- First pizza --- */
.first-container {
  position: relative;
  text-align: center;
  color: white;
}

.centered-1 {
  color: white;
  position: absolute;
  top: 50%;
  left: 51%;
  transform: translate(-50%, -50%);
}

.centered-2 {
  color: white;
  font-size: 45px;
  position: absolute;
  top: 48%;
  left: 58.8%;
  transform: translate(-50%, -50%);
}

/* --- Second pizza --- */
.second-container {
  position: relative;
  text-align: center;
  color: white;
}

/* --- Third pizza --- */
.third-container {
  position: relative;
  text-align: center;
  color: white;
}

.divider-2 {
  width: 200px;
  height: 70px;
}

/* --- First sauce --- */
.fourth-container {
  position: relative;
  text-align: center;
  color: white;
}

.centered-3 {
  color: white;
  position: absolute;
  top: 50%;
  left: 49%;
  transform: translate(-50%, -50%);
}

.centered-4 {
  color: white;
  font-size: 45px;
  position: absolute;
  top: 48%;
  left: 41%;
  transform: translate(-50%, -50%);
}

/* --- Second sauce --- */
.fifth-container {
  position: relative;
  text-align: center;
  color: white;
}

/* --- Third sauce --- */
.sixth-container {
  position: relative;
  text-align: center;
  color: white;
}

/* --- Order form --- */
.order-form {
  position: relative;
  text-align: center;
  color: white;
}

.centered-form {
  color: white;
  position: absolute;
  top: 50%;
  left: 51%;
  transform: translate(-50%, -50%);
}

.centered-form-1 {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 14%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered-form-2 {
  color: white;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered-form-3 {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer-container {
  background-color: #06283D;
  padding: 50px;
}

.btn {
  background: red;
  background-image: -webkit-linear-gradient(top, #11cdd4, #1999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #1999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #1999e);
  background-image: -o-linear-gradient(top, #11cdd4, #1999e);
  background-image: linear-gradient(to bottom, #11cdd4, #1999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'EB Garamond', serif;
  font-weight: bold;
  color: white;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: darkred;
  text-decoration: none;
}

.divider-3 {
  width: 200px;
  height: 70px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.social-icons {
  width: 100px;
  height: 100px;
}

.copyright {
  font-family: 'EB Garamond', serif;
  font-size: 12px;
  color: white;
}
